{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login Page
{% endblock %}

    {% block style %}
<style>
    .main-container {
        width: 30%;
        margin: 5em auto;
    }

    .container {
        width: 90%;
        margin: 1em auto;
        border: none;
        background-color: #f9f9f9; /* Background color for the container */
        padding: 2em; /* Add padding for better spacing */
        border-radius: 10px; /* Add border radius for rounded corners */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    }

    .signup-heading {
        margin: 1em auto;
        text-align: center;
    }

    .user-content-container {
        margin: 2em auto;
    }

    .signup-button {
        width: 100%;
        padding: .5em;
        background-color: #61c0bf; /* Green background color for the button */
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 600;
        color: white; /* Text color for the button */
        cursor: pointer; /* Add cursor pointer on hover */
    }

    /* Style for form labels */
    label {
        display: block;
        margin-top: 1em;
    }

    /* Style for form inputs */
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: .5em;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    /* Style for login link */
    .login-link {
        margin: 1em 0;
        text-align: center;
    }

    .login-link a {
        text-decoration: none;
        color: blue;
        font-weight: 600;
    }

</style>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="container">
        <h1 class="signup-heading">Log in</h1>
        <div class="user-content-container user-profile-form-container">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <ul style="list-style:none">
                    <li class="name">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="username-input" placeholder="Username">
                    </li>
                    <li class="pass">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="pass-input" placeholder="Password">
                    </li>
                    <button type="submit" class="signup-button"> Log in </button>
                    <small class="float-right text-muted"><a href="{% url 'password_reset' %}" class="text-dark"> Forgotten Password?</a></small>
                    <p class="login-link">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>

                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}
