
{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block style %}
<style>

        /* Container */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        /* Heading */
        h1 {
            color: #333;
        }

        /* Profile Info */
        .profile-info {
            margin-bottom: 20px;
        }

        .profile-info p {
            margin: 0;
            padding: 5px 0;
        }

        .profile-info strong {
            font-weight: bold;
        }

        /* Additional Styles */
        /* You can add more styles as needed */
    </style>
{% endblock %}
{% block content %}

    <h1>User Profile</h1>

    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    <p><strong>Contact Number:</strong> {{ profile.contact_number }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>

    <p>Username: {{ profile.user.username }}</p>

    <p>Email: {{ profile.email }}</p>
    <p>Contact Number: {{ profile.contact_number }}</p>

<a href="{% url 'edit_profile' %}">Profile edit</a>


{% endblock %}