{% extends 'base.html' %}
{% load static %}

{% block title %}
    Search Page
{% endblock %}

    {% block style %}
<style>
      h1 {
            text-align: center;
            margin-top: 50px;
            color: #333;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input[type="text"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        button[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }
</style>

{% endblock %}
{% block content %}
    <h1>Search</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search_query" placeholder="Enter your search query">
        <button type="submit">Search</button>
    </form>


{% endblock %}